* {
  padding: 0px;
}
a {
  text-decoration: none !important;
  color: black !important;
}

.main_container {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  background-color: #fff;
  width: 80%;
}
